body{
    background: #F2F0EF;
}

.head{
    background: #00262B;
    height: 400px;
    color: black;
}
.ltd{
    background: #F0CC00;
    text-align: right;
    width: 50%;
    height: 80px;
   
    bottom: 400px;
}
.sl{
    color: black;
}
.tw{
    color: rgb(160, 12, 12);
    text-align: left;
}
.head p{
    color: grey;
    font-size: larger;
}


.menu{
    background: blueviolet;
}
.edx{
    background: transparent;
}
.ex{
    background: transparent;
}
.cs{
    background: white;
    border-radius: 5px;
    
    text-align: center;
    width:80%;
}
.ds{
background: white;
width: 50%;
border-radius: 5px;

text-align: center;
}
.bs{
background: white;
width: 50%;
border-radius: 5px;

text-align: center;
}
.hc{
background: white;
width: 50%;
border-radius: 5px;

text-align: center;
}

.exmore{
    background: white;
    text-align: center;
    width: 50%;
    margin-left: 270px;
    margin-top: 10px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.75);
   
}

.crs img{
    margin: 0px  5px  0px  0px;
    
   
   
}
.cms img{
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.lady{
    background: #00262B;
    
}
.lady img{
    width:100%;
}
.fl{
    color: white;
}
.bt1{
    background: rgb(223, 63, 63);
    width: 50%;
    color: transparent;
}
.gl{
    color: white;
}
.bt{
    background: red;
    width: 50%;
    text-align: center;
}


.erth{
    background: #00262B; 
}
.erth img{
    height: 80%;
    width: 80%;
}
.ertxt{
    color: white;
}
.bt2{
   background: white;
   width: 100px;
}